body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #0e1726;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.fondo {
    display: flex;
    background: linear-gradient(#040053,#010101);
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


.imagen {
    background: linear-gradient(#040053,#010101);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration img {
    max-width: 300px;
}


.login-contenedor {
    padding: 40px;
    width: 350px;
}

.login-contenedor ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(#040053,#010101);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #008cff;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #0e1726;
    color: #fff;
}

input::placeholder {
    color: #777;
}

.extras {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

a {
    color: #008cff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.btn-login {
    width: 100%;
    padding: 12px;
    background-color: rgb(250, 250, 250) !important;
    color: rgb(0, 0, 0) !important;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #0909da !important;
    color: #ffffff !important;
}


.btn-google {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.btn-google img {
    margin-right: 10px;
}

.btn-google:hover {
    background-color: #e0e0e0;
}

form label {
    margin-bottom: 5px;
    font-size: 14px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #0e1726;
    color: #fff;
}

form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #008cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #007acc;
}